body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}


.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

#acc {
  width: 150px;
  border: 10px solid black;
  padding: 50px;
  margin: 50px;
  height: 200px;
  text-align: center;
  background-color: #FFD433;

}

#cre {
  width: 150px;
  border: 10px solid black;
  padding: 50px;
  margin: 50px;
  text-align: center;
  background-color: #FFD433;
}

#pac {
  width: 150px;
  border: 10px solid black;
  padding: 50px;
  margin: 50px;
  text-align: center;
  background-color: #FFD433;
}

.center {
  position: right;
}


.myDiv {
  display: grid;
  grid-template-areas: 'auto auto auto';
}

.our {
  background-color: #F2F3F4;
  border: solid 1px;
}

li {
  text-align-last: left;
}

.hi {
  visibility: hidden;
}
